h1,
h2 {
    font-weight: 200;
    margin: 0.4em 0;
    font-family: montserrat;
}

h1 {
    font-size: 3.5em;
}

h2 {
    color: white;
    font-size: 2em;
}

.hero-image {
    text-align: center;
}

body,
html {
    min-height: 100vh;
}
body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #e9e8e8;
}
/* The hero image */

.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    /* Set a specific height */
    height: 100%;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

/* .hero-video {
  position: relative;
  overflow: hidden;
  height: 100vh; 
} */

.hero-wo {
    pointer-events: none;
}

.hero-wo video::-webkit-media-controls {
    display: none !important;
}
.header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5); /* 设置背景颜色并添加透明度 */
}

.custom-button {
    background-color: rgba(250, 250, 250);
    border: 2px solid #000;
    color: #000;
    padding: 8px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}

.custom-button:hover {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}
.center-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-box p {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #333;
}
.center-box img {
    width: 60px;
    height: auto;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 180px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: auto;
}

.content img {
    width: 35%;
    height: auto;
    border-radius: 10px;
}

.content .text {
    width: 25%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px 15px;
    border-radius: 10px;
    font-size: 25px;
    text-align: justify; /* 左右对齐 */
    overflow: hidden; /* 隐藏溢出的文本 */
    text-indent: 1em; /* 首行空两个文字 */
}

.hero-video img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -100;
}

.mypic {
    border-radius: 150%;
    height: 180px;
    width: 150px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sect3 {
    padding: 100px;
}

#logo1 {
    width: 70px;
    height: 70px;
    -webkit-filter: drop-shadow(8px 8px 10px green);
    filter: drop-shadow(8px 8px 10px green);
}

#contactme {
    align-items: center;
}

#cardimg {
    -webkit-filter: drop-shadow(8px 8px 10px green);
    filter: drop-shadow(8px 8px 10px green);
}

.icons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*Carusel style*/

.navbar-brand {
    font-family: "Notable", sans-serif;
    font-size: x-large;
}

html {
    scroll-behavior: smooth;
}

.space {
    padding: 20px;
}

#mypic2 {
    border-radius: 50%;
    height: 180px;
    width: 170px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    -webkit-filter: drop-shadow(8px 8px 10px green);
    filter: drop-shadow(8px 8px 10px green);
}

#img1 {
    -webkit-filter: drop-shadow(8px 8px 10px blue);
    filter: drop-shadow(8px 8px 10px green);
}

.center {
    margin: 0;
    float: none;
    text-align: center;
}

.background {
    background: #ada996;
    /* fallback for old browsers */
    /*  */
    background: -webkit-linear-gradient(
        to right,
        #eaeaea,
        #dbdbdb,
        #f2f2f2,
        #ada996
    );
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    color: black;
}

.centericons {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: ; */
    color: #000;
    text-align: right;
    padding-right: 15px;
}

.Companies {
    background-color: lightgray;
    padding: 6%;
}

.card-title {
    font-size: 15px;
}

.line {
    width: 100%;
    border-bottom: 1px solid darkgrey;
}
.modal {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    height: auto !important;
}
