/*  *Indicates all the elements in the page, and is used to set the default style of all the elements in the page. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

h1 {
    margin: 0.2rem;
    font-size: 1.2rem;
}
boby {
    max-height: 100vh;
}
p {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 100;
    margin: 1.2rem 0;
    letter-spacing: 0.1rem;
}
.mt-5 {
    margin-top: 2rem !important;
}
.custom-button {
    background-color: transparent;
    /* 透明背景 */
    border: 2px solid white;
    /* 白色边框 */
    color: white;
    /* 白色字体 */
    padding: 10px 20px;
    /* 按钮内边距 */
    font-size: 16px;
    /* 字体大小 */
    cursor: pointer;
    /* 鼠标悬停样式 */
}

.custom-button:hover {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}
.hero-video video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
span {
    font-size: 0.8rem;
    margin: 1.2rem 0;
}

a {
    color: #333;
    font-size: 1rem;
    text-decoration: none;
}

.remember {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
}

.remember input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
}

.remember label {
    font-size: 16px;
    color: #fff;
    margin-bottom: 0;
}

.remember input[type="checkbox"] + label {
    cursor: pointer;
}

.remember input[type="checkbox"]:checked {
    font-weight: bold;
    color: #83868a;
}

.container {
    position: relative;
    border-radius: 10px;

    /* Adding rounded corners to an element px is in pixels*/
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 0.6rem;
    width: 56rem;
    height: 35rem;
    /* overflow: hidden; */
    max-width: 100vw;
    min-height: 70vh;
    z-index: 2;
    margin-top: 40px;
}

.hero-wo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    pointer-events: none;
    background-repeat: no-repeat;
}

.form-container form {
    /* Can format a class containing a form-container.
        In this case it is "form-container sign-up-container"
            "form-container sign-in-container". */
    background-color: rgba(55, 59, 89, 0.5);
    display: flex;
    flex-direction: column;
    padding: 0 1.8rem;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* Setting the margins of icons */
.social-container {
    margin: 0.6rem 0;
}

/* For icon style specific settings .social-container's a tag*/
.social-container a {
    border: 1px solid #eee;
    border-radius: 50%;
    /* The borders have a rounded radius of 50%, which will give the element a rounded appearance. */
    display: inline-flex;
    /* In-line flexboxes to align child elements horizontally/vertically */
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 1.8rem;
    width: 1.8rem;
}

.social-container a:hover {
    opacity: 0.8;
    /* Change transparency on mouse hover (0-1) */
}

/* Modify the style of the input box */
.form-container input {
    width: 100%;
    height: 2.2rem;
    text-indent: 1rem;
    /* Indent the first line of text in the input box by one character */
    border: 1px solid #fff;
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
    /* Cancels the appearance of the outline when the mouse hovers over the input box */
    margin: 0.6rem 0;
}

/* When the button is activated (pressed), the element size changes. */
.form-container button:active {
    transform: scale(0.95, 0.95);
}

/* Setting the key style */
.form-container button {
    padding: 0.4rem 1rem;
    background-color: rgba(119, 103, 121, 0.5);
    color: white;
    border: 1px solid #fff;
    outline: none;
    cursor: pointer;
    width: 5rem;
    border-radius: 8px;
    transition: all 100ms ease-in;
    margin: 0.6rem 0;
    padding: 0.5rem 0;
}

button#send_code {
    width: 100%;
}

/* Setting up the side-bezel button effect */
button.ghost {
    background: transparent;
    border-color: #fff;
    border: 1px solid #fff;
    outline: none;
    /* Remove Border Outline */
    cursor: pointer;
    /* Pointer changes to hand shape when mouse hovers over element */
    width: 5rem;
    border-radius: 8px;
    /* Rounded edges */
    transition: all 800ms ease-in;
    /* There is a transition effect with a change transition time of 800 milliseconds and a change speed of ease-in (slow then fast). */
    margin: 0.6rem 0;
    padding: 0.5rem 0;
    color: white;
}

/* Setting the activated effect of a key */
button.ghost:active {
    transform: scale(0.95, 0.95);
    /* The x and y axes are reduced by 95 per cent. */
}

/* Setting up the login and registration box format */
.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.5s ease-in;
}

/* Login box details */
.sing-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
    /* Sets the stacking order of the elements.
    Only valid for elements with position set.
    The larger the value, the more the elements will be placed in front of each other */
}

/* Registration Box Details */
.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    /* Setting an element to be transparent
    so that it does not display content in its initial state
    Need to be triggered by clicking a button */
    z-index: 1;
}

/* Setting the sidebar box style */
.overlay {
    background-color: rgba(202, 193, 190, 0.5);
    width: 200%;
    /* Percentages are relative to the parent element */
    height: 100%;
    position: relative;
    left: -100%;
    transition: all 0.6s ease-in-out;
    /* Transition effects when properties change */
    color: white;
}

.overlay-container {
    position: absolute;
    /* absolute positioning */
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    /* Content overflow element box is hidden */
    transition: all 0.6s ease-in-out;
    z-index: 99;
}

.overlay-pannel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 0 2.2rem;
}

.overlay-right {
    right: 0;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
    /* Shift left when clicking */
}

.container.right-panel-active .sing-in-container {
    transform: translateX(100%);
    /* Shift right when clicking */
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    transition: all 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
    transition: all 0.6s ease-in-out;
}

.color-op {
    color: #fff;
    font-weight: bold;
}

.forminfo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.font-info-box {
    font-size: 1.2rem;
    color: #fff;
    float: right;
}

.form-container input {
    width: 250px;
}

.col-form-label {
    margin-top: 10px !important;
    /* padding-top: calc(0.375rem + 1px); */
    /* padding-bottom: calc(0.375rem + 1px); */
    /* margin-bottom: 0; */
    /* font-size: inherit; */
    /* line-height: 1.5; */
}

.form-group {
    margin-bottom: 0 !important;
}

.alertMsg-head {
    border-bottom: none !important;
    padding: 0 !important;
}

.alertMsg-footer {
    border-top: none !important;
    padding: 0 !important;
    justify-content: center !important;
}

.modal-content {
    background-color: rgba(55, 59, 89, 0.5) !important;
}
#alertMsgVal {
    font-size: 18px;
}

.hero-wo video::-webkit-media-controls {
    display: none !important;
}
