h1,
h2 {
    font-weight: 200;
    margin: 0.4em 0;
    font-family: montserrat;
}

h1 {
    font-size: 3.5em;
}

h2 {
    color: white;
    font-size: 2em;
}

.hero-image {
    text-align: center;
    position: relative;
}

body,
html {
    height: 100%;
}

.hero-image {
    height: 100%;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

/* .hero-video {
  position: relative;
  overflow: hidden;
  height: 100vh; 
} */

.hero-wo {
    pointer-events: none;
    /* 阻止视频元素接收鼠标事件 */
}

.hero-video img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.modal-content {
    background-color: rgba(55, 59, 89, 0.5) !important;
}

.modal-title {
    color: #fff;
}
.mypic {
    border-radius: 150%;
    height: 180px;
    width: 150px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sect3 {
    padding: 100px;
}

#logo1 {
    width: 70px;
    height: 70px;
    -webkit-filter: drop-shadow(8px 8px 10px green);
    filter: drop-shadow(8px 8px 10px green);
}

#contactme {
    align-items: center;
}

#cardimg {
    -webkit-filter: drop-shadow(8px 8px 10px green);
    filter: drop-shadow(8px 8px 10px green);
}

.icons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*Carusel style*/

.navbar-brand {
    font-family: "Notable", sans-serif;
    font-size: x-large;
}

html {
    scroll-behavior: smooth;
}

.space {
    padding: 20px;
}

#mypic2 {
    border-radius: 50%;
    height: 180px;
    width: 170px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    -webkit-filter: drop-shadow(8px 8px 10px green);
    filter: drop-shadow(8px 8px 10px green);
}

#img1 {
    -webkit-filter: drop-shadow(8px 8px 10px blue);
    filter: drop-shadow(8px 8px 10px green);
}

.center {
    margin: 0;
    float: none;
    text-align: center;
}

.background {
    background: #ada996;
    /* fallback for old browsers */
    /*  */
    background: -webkit-linear-gradient(
        to right,
        #eaeaea,
        #dbdbdb,
        #f2f2f2,
        #ada996
    );
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    color: black;
}

.centericons {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: ; */
    color: white;
    text-align: right;
    padding-right: 15px;
}

.Companies {
    background-color: lightgray;
    padding: 6%;
}

.card-title {
    font-size: 15px;
}

.line {
    width: 100%;
    border-bottom: 1px solid darkgrey;
}

.custom-button {
    background-color: transparent;
    /* 透明背景 */
    border: 2px solid white;
    /* 白色边框 */
    color: white;
    /* 白色字体 */
    padding: 10px 20px;
    /* 按钮内边距 */
    font-size: 16px;
    /* 字体大小 */
    cursor: pointer;
    /* 鼠标悬停样式 */
}

.custom-button:hover {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.startbtn {
    position: absolute;
    top: 50%;
    left: 48%;
    margin-left: -50px;
    margin-top: -50px;
    z-index: 999;
}

.audio-btn {
    position: absolute;
    left: 20px;
}

.order-box {
    position: absolute;
    right: 0;
    display: flex;
}

.order-box div {
    margin-right: 10px;
}

.order-btn {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-left: 20px;
}

.mt-5,
.my-5 {
    margin-top: 0 !important;
}

.order-btn :hover {
    color: white;
}

.modal-content {
    background-color: rgba(55, 59, 89, 0.5) !important;
}

.list-group-item {
    background-color: rgba(55, 59, 89, 0.5) !important;
}

.modal-title {
    color: #fff;
}

.list-item-color {
    color: #fff;
}

.form-control {
    width: 400px;
}

/* .modal-body {
  display: flex;
} */

.flex-box {
    margin: 0 auto;
    margin-left: 80px;
}

.col-sm-2 {
    width: 200px;
}

.col-form-label {
    width: 350px;
}

.color-btn {
    background-color: rgba(55, 59, 89, 0.5) !important;
}

.table-dark {
    background-color: rgba(55, 59, 89, 0.5) !important;
}

#testTable {
    max-height: 500px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: rgba(55, 59, 89, 0.5) !important;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(55, 59, 89, 0.5) !important;
    border-radius: 5px;
}

.flex-box {
    display: flex;
}

.flex-center {
    margin-left: 50px;
    color: #fff;
}
.btn:hover {
    color: white !important;
}

.hero-wo video::-webkit-media-controls {
    display: none !important;
}
